
<section class="bg-image">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Applications</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 text-left">
            <div class="service-box">
                <!--<i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
                <h3>Permissionless mobile payments</h3>
                <p>
                    The main application is permissionless mobile payments denominated in traditional fiat,
                    unit or time based currencies.
                    The ease of getting started makes mobile payments accessible to people without ID,
                    cash or a bank account.
                    All needed is a phone, internet and a friend.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 text-left">
            <div class="service-box">
                <!--<i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
                <h3>Cross-Currency Payments</h3>
                <p>
                  The Trustlines Network supports cross-currency payments by users automatically accepting
                  the best achievable conversion rate offered from other users.
                  In effect this makes everyone capable of sending worldwide payments with next to no cost or settlement time.
                </p>
            </div>
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>
      <div class="col-lg-4 col-md-6 col-xs-12 text-left">
          <div class="service-box">
              <!--<i class="fa fa-4x fa-refresh wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
              <h3>P2P crypto exchange</h3>
              <p>
                  Seller and buyers can securely trade crypto currencies for fiat money or credit without having to know or meet each other. This feature removes the current centralized gateway barriers for acquiring and using cryptocurrencies
              </p>

          </div>
    </div>
        <div class="clearfix visible-lg-block"></div>
        <div class="col-lg-4 col-md-6  text-left">
            <div class="service-box">
                <!--<i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
            <h3>Custom complementary currencies</h3>
                <p>
                    Communities or businesses can create their own interoperable complementary currencies.
                    Communities pursuing a local circular economy can for example disable interest or global interoperability,
                    while business networks might customize access criteria to conform with regulatory requirements.
                </p>
            </div>
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>
        <div class="col-lg-4 col-md-6 text-left">
            <div class="service-box">
                <!--<i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
                <h3>Loans & Saving</h3>
                <p>
                    Credit lines are at the core of the system and trivially allow users to lend money.
                    Smart contracts can be used to encode the specific terms (e.g. interest rate guarantees) of an agreement.
                    Saving is implicitly supported by taking the opposite side of a loan.
                </p>
            </div>
        </div>
      <div class="col-lg-4 col-md-6 text-left">
          <div class="service-box">
              <!--<i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".{{ forloop.index }}s"></i>-->
              <h3>3rd party applications</h3>
              <p>
                  The Trustlines Network is an open platform extendable by smart contracts on the Ethereum blockchain.
                  3rd party application developers can easily build on top of new or existing currency networks.
                  Please see the whitepaper for further ideas on future applications.
              </p>
          </div>
      </div>
</div>
</div>
</section>
