<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Permissionless mobile payments</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mobile-payments">
                <div class="col-lg-5 col-lg-offset-2 text-left">
                    <p>
                        The Trustlines app comes with a unique onboarding experience.
                        <br>
                        <br>
                        Contrary to traditional payment apps this means there are no need for having a bank account,
                        ID or providing a deposit.
                    </p>
                </div>
                <div class="col-lg-5 text-left">
                    <ol>
			    <li><b>Download</b> the app</li>
                        <li><b>Connect</b> by creating a trustline with a friend</li>
                        <li><b>Start</b> to send & receive payments in the network</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-2">
                <img class="center-block" src='../img/ethereum_mobile.png' height="320">
            </div>
        </div>
    </div>
</section>
