





    <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Mobile payments for everyone</h2>
            <hr class="primary">
          </div>
          </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 text-left">
                    <p>
                    The Trustlines Network comes as a mobile payment app with a unique onboarding experience.
                    <br>
                    Using it, is as easy as:
                        <ul>
                          <li>Downloading the app</li>
                          <li>Connecting with a friend</li>
                          <li>Start sending & receiving payments</li>
                      </ul>
                    Check out our prototype
                    </p>
                </div>



              <div class="col-lg-5 text-left">
                  <p>
                    It can be this open and easy because the system works without any central intermediators, as
                    <ul>
                  <li>
                      the role of credit and money issuance is filled by regular users of the system,
                      who maintain Trustlines with their friends.
                  </li>
                        <li>
                       the blockchain is used to facilitate secure payments and
                       keep a verifiable record of all real world obligations.
                   </li>

                    </ul>
                  </p>
              </div>
            </div>
        </div>
    </section>
