<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Permissionless Mobile Payments</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mobile-payments">
                <div class="col-md-5 col-md-offset-2 text-left">
                    <p>
                        The Trustlines app will come with a <b>unique onboarding experience</b>.
                        <br>
                        <br>
                        Contrary to traditional payment apps, there is no need for having a bank account, ID or providing a deposit.
                    </p>
                </div>
                <br class="mobile visible-xs visible">
                  <hr class="mobile visible-xs visible">
                <br class="mobile visible-xs visible">
                <div class="col-md-5 text-left">
                    <ol>
			    <li><b>Download</b> the app</li>
                        <li><b>Connect</b> by creating a trustline with a friend</li>
                        <li><b>Start</b> to send & receive payments in the network</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 ">
                    <img src='../img/ethereum_mobile.png' class='center-block' height="400">
            </div>
        </div>
    </div>
</section>
