<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="http://www.facebook.com/{{ site.facebook_username }}/?fref=ts">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
            </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!--<p>{{ site.twitter_username }}</p>-->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="https://reddit.com/r/{{ site.subreddit_name }}/">
              <i class="fa fa-reddit fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
        </div>
    </div>
</section>