<section id="contact" style="padding: 30px" !important>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
          <!--  <a href="http://www.brainbot.com/">
              <img src="../img/bb_logo_grey.png" width="62" height="62">
            </a>-->
            <a id="bblink" href="http://www.brainbot.com/" style="margin: 25px 0px">
            </a>
          </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-3 col-xs-3 text-center">
                <a href="http://www.facebook.com/{{ site.facebook_username }}/?fref=ts">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
            </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!--<p>{{ site.twitter_username }}</p>-->
              </a>
          </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://reddit.com/r/{{ site.subreddit_name }}/">
              <i class="fa fa-reddit fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
        </div>
    </div>
</section>
