  {% assign categories = "Introduction to the concept" | split: ", " %}
  {% for category in categories %}
  <div class="header-content">
      <div class="header-content-inner">
  <section class="bg-image2" id="main-text">
<div class="container">
<div class="col-lg-12 text-center">
<!--  <h2> {{ category }} </h2> -->
      <h2> FAQ </h2>
  <hr class="dark">
</div>
</div>
<div class="container">
  {% for faq in site.faq %}
  {% if category == faq.category %}
  <div class="col-lg-8 col-lg-offset-2 text-left">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h2>What problems are you solving?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <h4>Financial services for the Unbanked</h4>
                <p>There are more than 1 billion so called <a href="https://en.wikipedia.org/wiki/Unbanked">unbanked</a> people, which don't have access to financial services.
                The reason seems to be, that banks can not make a profit when giving accounts to the currently unbanked.
                The Trustlines Network can help here, as it provides  the fundamental banking services of storing value and
                making payments to anyone with a smart phone. No need for an ID, initial deposit or a bank account.</p>

            <h4>P2P Fiat to Crypto Exchange</h4>
                <p>Centralized crypto exchanges, which require users to go through a KYC process, are prone to be hacked and
                lose their users fund. Further, one needs a bank account to interact with crypto token.
                The Trustlines Network allows users to sell and buy crypto tokens in a decentralized P2P fashion,
                without the access barriers of dealing with a central exchange.</p>

            <h4>Community Currencies</h4>
                <p>Community currencies based on transfers of IOU’s
                <a href="https://ijccr.files.wordpress.com/2012/05/ijccr-vol-10-2006-1-ardron-and-lietaer.pdf">typically only works locally</a>,
                as very few people are comfortable with accepting an IOU without knowing the credit-worthiness of the issuer.
                In the Trustlines Network a payment is transferred in a chain of friends-of-friends, which means the IOU is
                self-guaranteed by the friend providing the last link in the chain. This allows for global payments,
                as a receiver will only be able to accept payments from a friend who is considered creditworthy.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h2>Why is blockchain a good fit for the Trustlines Network?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px" >
          <div class="card-block">
            <p>Our design decision was to build the Trustlines Network as a decentralized P2P system.
              A blockchain is a natural fit for a P2P money system, because it is good at tamper proof Accounting,
              provides censorship resistance and allows for decentralized governance of the system.
              The Ethereum platform enables the Trustlines Network to use smart contracts that are fully interoperable with other Dapps,
              providing <a href="https://www.reddit.com/r/ethtrader/comments/43fm3w/the_core_value_proposition_of_ethereum_is_synergy/">synergy</a> within an open and active environment.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h2>Why is it a problem that almost all money in the world is created by banks?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>The short answer is that having only one type of money (bank-debt money, created with interest) is
              an inbuilt <a href="http://sapiens.revues.org/747#ftn18">systemic issue</a> threatening the sustainability of the global economic system.</p>

            <p>This is far from a hypothetical threat; in the period between 1970-2011 the
              <a href="http://www.worldbank.org/en/publication/gfdr/background/banking-crisis">World Bank</a> have identified
              no less than 147 systemic banking crises and 218 monetary crises. <a href="http://wtf.tw/ref/ulanowicz.pdf">Scientists</a> have found the sustainability
              of a complex flow system can be defined as the optimal balance between efficiency and resilience of its network.
              In general, a system’s resilience is enhanced by more diversity and more connections, because there are more channels
              to fall back on in times of trouble or change. Efficiency, on the other hand, increases through streamlining,
              which usually means reducing diversity and connectivity. With an inadequate emphasis on efficiency,
              the global economic system needs solutions that introduce greater resilience through diversity.</p>

            <h4>What is People Powered Money?</h4>
            <p>People Powered Money is a catch phrase for complementary currencies, governed and issued between individuals
            and businesses instead of banks and governments. The fundamental idea of People Powered Money is to connect underused assets
            directly to unmet needs. To learn more on the umbrella of stunning complementary currency initiatives,
            we recommend you take a look at the EU funded publication <a href="http://communitycurrenciesinaction.eu/peoplepoweredmoney/">People Powered Money</a>.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h2>Can People Powered Money replace bank created money?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>The problem of today is having only one dominant type of currency, so completely replacing one monetary monopoly
              with another will <a href="https://books.google.de/books?id=04uFDAAAQBAJ&pg=PA25&lpg=PA25&dq=176+monetary+crises+in+the+25+years+since+President+Nixon&source=bl&ots=_1lg8O9gEX&sig=1G8oSwfXbNbY2i1Eid8_KNL94t8&hl=da&sa=X&ved=0ahUKEwi80rKZ0IXSAhVNsBQKHd4JCk4Q6AEIKDAB#v=onepage&q=176%20monetary%20crises%20in%20the%2025%20years%20since%20President%20Nixon&f=false">not lead</a> to a more resilient economic system. To achieve higher resilience, the economy needs monetary democracy
               - a diverse ecosystem of currency systems, so multiple and more diverse agents and channels of monetary links and exchanges can emerge.
                That is why People Powered Money is one out of many currency innovations designed to operate in parallel to conventional national money.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h2>Is it required to have collateral in for example conventional national money?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>No, in the Trustlines Network, there are not any general collateral requirements applicable for all currency networks.
              While a network for e.g. businesses or frequent traders might be configured for participants to pledge specific assets
              in order to participate - no such requirements exist within a standard network. Credit in a standard network is therefore
              bound to be issued in reasonable amounts only to real world trusted connections. This entails real world trusted connections
               need to have a fair insight into the economic sustainability of the other person, as well as have agreed on how an eventual
                settlement might take place.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h2>How does settlement work?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>The <a href="http://trustlines.network/whitepaper_v03.pdf">imbalance fee</a> in the Trustlines Network incentivises debt cancellation,
              which means the system will seek to route the payments through a path of connections in order to reduce
              imbalances and thereby settle debt relationships. If settling in real world cash, services or goods is important to you,
              you should make this clear to your connections, so they will not be surprised when you ask to settle  from time to time.
              To settle with a user is achieved by making a trustlines payment equal to the value received in the real world.</p>
          </div>
        </div>
      </div>
      </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h2>How can I leave the system?</h2>
          </a>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
        <div class="card-block">
          <p>To leave the system, you need to have settled all outstanding debt relationships with your trusted connections.
            Settling with all connections at once might obviously take a bit of a time, in a similar way as it also takes
            time to change your regular bank provider. A user who wishes to leave the system, would save time by making
            payments in order to leverage the debt cancellation mechanism to reduce outstanding debts.</p>
        </div>
      </div>
    </div>
    </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingEight">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <h2>What does a default in the trustlines network entail?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px" >
          <div class="card-block">
            <p>A default in the Trustlines Network, means a user is not able to honour an agreement made to repay an obligation to one or
              several of the user’s trustline connections. It will have various consequences depending on the context, as is also the
              case in the event of a <a href="http://www.investopedia.com/terms/d/default2.asp">default</a> in a traditional legal obligation. In its purest form, a default in a standard trustlines
              currency network is to be dealt with by the users themselves. In this way not being different than the recourse friends
              have when they from time to time lend each other traditional money. There are, however, more formalized recourse options
              possible within a currency network, which depending on governance hooks could include embedding pledging of assets,
              mutual-credit mechanisms, default-insurance or specified promissory note agreements.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingNine">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <h2>With no governance such as central bank or politicians, how can a monetary policy be enforced?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>The Ethereum blockchain allows to customize governance written in smart-contract for individual trustlines or for
              currency networks as a whole. The basic idea is to give every user the right to choose which monetary dynamics they favor,
              based on full transparency on the monetary policy within a currency network. Governance hooks includes to specify
              registration process, credit line limits, settlement limits, interest, demurrage, as well as specification of collateral
              or collaborative backing.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTen">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              <h2>How is the Trustlines Network different from Ripple?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>The original <a href="http://archive.ripple-project.org/decentralizedcurrency.pdf">Ripple Pay</a> idea, is indeed similar to the Trustlines Network and actually inspired it.
              The core differences are that the Trustlines Network has a decentralized architecture, is interoperable with other
              Ethereum dApps and comes with a mobile application.
              The Ripple we know today is a platform positioned to serve as an infrastructure for interbank payments
              and is not comparable to the Trustlines Network.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingEleven">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              <h2>Any further questions?</h2>
            </a>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>Join the discussion in our <a href="http://trustlines-network-slackinvite.herokuapp.com/">Trustlines Slack</a>
              or on <a href="http://reddit.com/r/trustlines">Reddit</a>.</p>
          </div>
        </div>
      </div>
</div></div>
    </div>
      </div>
    {% endif %}
  {% endfor %}



{% endfor %}



  <div class="container" style="padding-top: 30px">
  <div class="col-lg-12 text-center">
        <h2>Further reading</h2>
        <hr class="dark">
        <p>   </p>
  </div>
  </div>

  <div class="container" style="font-size:16px">
    <div class="row">
    <div class="col-lg-4 col-lg-offset-2 text-left">
      <h3>Publications</h3>
        <p>
          <ul style="list-style-type:bullet; padding-left:0">
          <li><a href="https://libcom.org/files/__Debt__The_First_5_000_Years.pdf">David Graeber on Debt: The first 5000 years</a>
          <li><a href="http://www.bankofengland.co.uk/publications/Documents/quarterlybulletin/2014/qb14q102.pdf">Bank of England: Money creation in the modern economy</a>
          <li><a href="https://valueforpeople.co.uk/wp-content/uploads/sites/6/2013/02/17-June.pdf">People money: The promise of regional currencies</a>
          <li><a href="http://community-currency.info/wp-content/uploads/2015/06/ccia-book-people-powered-money.pdf">People Powered Money: designing, developing and delivering community currencies</a>

          </ul>
        </p>
      </div>

  <div class="container" style="font-size:16px">
    <div class="col-lg-5 col-lg-offset-1 text-left">
      <h3>Videos</h3>
        <p>
          <ul style="list-style-type:bullet; padding-left:0">
          <li><a href="https://www.youtube.com/watch?v=bE8i-4HpKlM">How money works: Banking-101</a>
          <li><a href="https://www.youtube.com/watch?v=M4ThwS1Xln0">Bernard Lietaer - Why money needs to change now!</a>
          <li><a href="https://www.youtube.com/watch?v=f9KqSgRZYgg">An introduction to the original Ripple Pay</a>
          <li><a href="https://www.youtube.com/watch?v=UaspBGmsdLE">Bangla-Pesa - Empowering a Grassroots Economy</a>
          </ul>
        </p>
      </div>
  </div>
</div>
</section>
</div>
</div>
<section class="bg-image2" id="social" style="padding: 10px" !important>
  <h5 class="mb-0">
    <div class="container" style="padding-top: 20px" !important>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-3 col-xs-3 text-center">
                <a href="http://www.facebook.com/{{ site.facebook_username }}/?fref=ts">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
            </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.twitter_username }}</p>-->
              </a>
          </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://reddit.com/r/{{ site.subreddit_name }}/">
              <i class="fa fa-reddit fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="http://trustlines-network-slackinvite.herokuapp.com/{{ site.subreddit_name }}/">
              <i class="fa fa-slack fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
        </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
        </div>
    </div>
  </h5>
</section>


          <!--
          Original code:
          have to be updated manually!
          order here determines the order on the page, TODO find method without manual assignment!
          {% assign categories = "About the concept, Getting started" | split: ", " %}
          {% assign categories = "About the concept" | split: ", " %}
          {% for category in categories %}
          <section {% cycle '', 'class="bg-dark"' %} id="main-text">
          <div class="container ">
          <div class="col-lg-12 text-center">
            <h2> {{ category }} </h2>
            <hr class="dark">
          </div>
          </div>
          <div class="container ">
            {% for faq in site.faq %}
              {% if category == faq.category %}
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  {{ faq.content }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
            </section>
        {% endfor %}
        -->
