



          <!-- have to be updated manually! -->
          <!--order here determines the order on the page, TODO find method without manual assignment!-->
          {% assign categories = "About the concept, Getting started" | split: ", " %}
          {% for category in categories %}
          <section {% cycle '', 'class="bg-dark"' %} id="main-text">
          <div class="container ">
          <div class="col-lg-12 text-center">
            <h2> {{ category }} </h2>
            <hr class="dark">
          </div>
          </div>
          <div class="container ">
            {% for faq in site.faq %}
              {% if category == faq.category %}
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  {{ faq.content }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
            </section>
        {% endfor %}
