
    <header>
    <div class="header-image-background">
        <div class="header-content">
            <div class="header-content-inner">
                <!-- check me: -->
                <img src='../img/trustlines_network.png' width="700" height="316">
                <p><h2>Unlocking the Power of Collaborative Finance</h2></p>
                <hr>
                <p>
                    <h3>
                        Trustlines Networks is a global platform enabling <br>
                        permissionless mobile payments based on people powered money
                    </h3>
                </p>
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Start journey</a>-->
            </div>
        </div>
    </div>
    </header>
