
{% for feature in site.features %}
  {% if feature.page_id == "header" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>{{feature.heading}}</h1>
                <!-- check me: -->
                <img src="/img/istrans.png" width="600" height=180" ">
                <p>{{ feature.content }}</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Start journey</a>
            </div>
        </div>
    </header>
  {% endif %}
{% endfor %}
