<header>
<div class="header-image-background">
        <div class="header-content">
            <div class="header-content-inner">
                <img class="header-img" src='../img/trustlines_network2.png'>
                <hr>
                <p>
                    <h3>
                    the global platform enabling permissionless
                    <br>
                    mobile payments based on people powered money
                    </h3>
                </p>
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Start journey</a>-->
            </div>
        </div>
    </div>
    </header>
