

    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rethinking money</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 text-left">
                  <!--<h3 class="text-center">Rethinking Money</h3>-->
                   <p>
                        The Trustlines Network is similar to the original Ripple idea, but built on Ethereum with a strong
                        focus on ease of adoption and smart contract interoperability.
                        Most of today’s money is created by commercial banks when they issue loans.
                        Their core service basically is to keep a verifiable record of real world obligations.
                        As blockchains are particularly good at accounting, it’s rather straightforward to get rid
                        of banks as intermediators in a system where money is represented as IOUs.
                    </p>
                </div>
                <div class="col-lg-5 text-left">
                    <!--<h3 class="text-center">Heading</h3>-->
                    <p>
                        In the Trustlines Network every user is acting as a bank by granting credit lines to friends
                        they trust.The network of all credit lines mirrors the social graph where a path of people
                        trusting each other can be found between any two non-trusting participants.
                        This allows to issue money between friends and facilitate secure payments between strangers,
                        by rippling payments along a chain of trusting friends.
                        See our Whitepaper or FAQ for more information.
                    </p>
                </div>
            </div>
    </section>