

    <section class="bg-dark" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
            <h1>What is trustlines?</h1>
            <hr class="light">
          </div>
          </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 text-left">
                    <div class="row">
                      <div class="col-lg-12">
                      <div class='text-faded text-justify'>
                        <h3>
                          trustlines is the first open permissionless <br>
                          platform for hosting currency networks <br>
                          representing real-world obligations
                        </h3>
                      </div>
                    </div>
                                        </div>
                    <div class="row">
                    <div class="col-lg-8">
                        <ul class="list-group">
                          <li class="list-group-item active">Getting started:</li>
                          <li class="list-group-item">Download the app</li>
                          <li class="list-group-item">Connect with a friend</li>
                          <li class="list-group-item">Begin using Trustlines</li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <img src="../img/IPhone_4S_No_shadow.png" class="img-responsive wow bounceIn" data-wow-delay=".1">
                    </div>
                  </div>
                </div>

              <div class="col-lg-4 text-justify">
              Trustlines is the original Ripple idea built on Ethereum with a
              strong focus on ease of adoption and smart contract interoperability.
              Enabling you to be your own bank by extending credit lines to friends you trust.
              <br>
              <br>
                Trustlines allows to facilitate global secure payments between strangers,
                if a chain of people who trust each other can be found.
                In effect only making your liable to the connections you decided to trust.
              <br>
              <br>
                Just like commercial banks works today, money is created by trustlines users
                when they utilize the credit lines they receive,
                to pay for something. Users are free to create money in any fiat,
                unit or time denominated currencies
              </div>
                              </div>
            </div>
    </section>
