

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-4 text-left">
                    <h1>What is trustlines?</h1>
                    <!-- <hr class="light"> -->
                    <div class='text-faded text-justify'>
                      <h3>
                        trustlines is the first open permissionless <br>
                        platform for hosting currency networks <br>
                        representing real-world obligations
                      </h3>
                    </div>
                    <hr class="light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 text-left text-faded">
              Trustlines is the original Ripple idea built on Ethereum with a
              strong focus on ease of adoption and smart contract interoperability.
              Enabling you to be your own bank by extending credit lines to friends you trust.
              </div>
              <div class="col-lg-4 text-left text-faded">
                Trustlines allows to facilitate global secure payments between strangers,
                if a chain of people who trust each other can be found.
                In effect only making your liable to the connections you decided to trust.

              </div>
              <div class="col-lg-4 text-left text-faded">
                Just like commercial banks works today, money is created by trustlines users
                when they utilize the credit lines they receive,
                to pay for something. Users are free to create money in any fiat,
                unit or time denominated currencies
              </div>
        </div>
    </section>
