

    <section id="about">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rethinking money</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container" color='607d8b'>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 text-left">
                  <!--<h3 class="text-center">Rethinking Money</h3>-->
                   <p>
                     Most of today’s money is created by <a href="http://positivemoney.org/how-money-works/how-banks-create-money/">commercial banks</a> when they issue loans.
                     Their core service is to basically keep a verifiable record of real world obligations.
                     As blockchains are particularly good at accounting, it’s rather straightforward
                     to disintermediate financial institutions in a system where money is represented as IOUs.
                     In the Trustlines Network <b>every user is acting as a bank</b> by granting credit lines to friends they trust.
                    </p>
                    <p>
                        Check out the <a href="/whitepaper.html">white paper</a> or <a href="faq.html">FAQ</a> for more information.
                    </p>
                </div>
                <div class="col-lg-5 text-left">
                    <!--<h3 class="text-center">Heading</h3>-->
                    <p>
                        The network of all credit lines mirrors the social graph where a path of people trusting each other
                        can be found between any two non-trusting participants.
                        This allows to <b>issue money between friends</b> and facilitate secure payments between strangers,
                        by rippling payments along a chain of trusting friends. The Trustlines Network is similar to the <a href="https://classic.ripplepay.com/">original Ripple idea</a>,
                        but built on <a href="https://www.ethereum.org/">Ethereum</a> with a strong focus on ease of adoption and smart contract interoperability.
                    </p>
                </div>
            </div>
    </section>
