<section id="contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Platform for Collaborative Finance</h2>
            <hr class="primary">
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 text-center">
              <p>
                The Trustlines Network is built as a decentralized platform hosting customized and interconnected currency networks.
                Contrary to present centralized collaborative finance platforms, this enables secure, transparent and permissionless P2P transactions.
                The platform is designed to be scaleable with the <a href="https://github.com/raiden-network/raiden">Raiden Network</a> and comes with an open protocol
                and API supporting interoperability with other smart contract based services on the Ethereum platform.
                Developers worldwide can therefore build and monetise collaborative finance applications on top of the platform.
              </p>
          </div>
        </div>

</section>
