<section id="main-text">
  <div class="container">
<div class="col-lg-12 text-center">
<!--  <h2> {{ category }} </h2> -->
      <h2> White Paper </h2>
  <hr class="dark">
</div>
</div>
<div class="container">
  <div class="col-lg-8 col-lg-offset-2 text-left">
    <p>
    At this moment our <a href="www.google.dk">white paper</a> is still a draft. Feel free to add your comments.
    </p>
    <p>
    Since we won't be able to answer all questions,
    we are planning for a series of blog posts to discuss the details.
    </p>
    </div>
</div>
</section>
